*{
    margin: 0;
    padding:0;
    box-sizing: border-box; /*changing default "content-box" to "border-box" model of the browser*/
}
/*Global*/
body{
    font-family:'Merriweather', serif;
    background-color: #ebf2ff;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    background-color: #fff;
}
.navbar_brand{
    width: 100px;
}
.navbar_logo{
    width: 100%;
}
.nav_item{
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );

  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.nav_item:hover{
    border: 2px solid blue;
}
.container{
    align-items: center;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.hero_container{
    background-color: #ebf2ff;
}
.hero_image_container{
    width: 100%;
}
.hero_image{
    box-shadow: darkgray;
    border-radius: 20px;
    width: 100%;
}
.hero_txt{
    font-size: 30px;
    margin: 20px 0;
}
.explore_menu_text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}
.button_primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
      color: #fff;
      border: none;
      padding: 12px;
      border-radius: 8px;
      cursor: pointer;
}
.food_card{
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
}
.food_card_image_container{
    width: 100%;
}
.food_image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.food_card_description{
    padding: 15px;
}
.restaurant_text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}
.restaurant_image_container{
    width: 100%;
    gap: 5px;
}
.restaurant_images_row_one,.restaurant_images_row_two{
    width: 100%;
    display: flex;
    gap: 3px;
}
.restaurant_images_row_one{
    align-items: baseline;
    margin-bottom: 3px;
}
.restaurant_image_1,.restaurant_image_4{
    width: 100%;
    height: 120px;
}
.restaurant_image_2,.restaurant_image_3{
    width: 120%;
    height: 200px;
}
.restaurant1,.restaurant2,.restaurant3,.restaurant4{
    width: 100%;
    height: 100%;
}
.contact_container{
    width: 100%;
    margin-bottom: 20px;
}
.contact_container_text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}
.contact_container_email{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#email_id{
    margin-left: 3px;
    border-radius: 7px;
    font-size: 15px;
    border: gray;
    
}
.contact_container_button{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
      color: #fff;
      border: none;
      padding: 5px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 15px;
}
.quote__container {
    position: relative;
    margin-top: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
      center center / cover no-repeat;
  }
  .quote_image_overlay {
    position: absolute;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity: 49%;
  }
  .quote_image_text {
    color: #fff;
    z-index: 3;
    margin: 0 1rem;
    text-align: center;
  }
footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
  }
  
  footer > img {
    width: 300px;
    filter: brightness(0) invert(1);
  }
  
  footer > ul {
    margin-top: -1rem;
    color: #fff;
  }
  
  footer > ul > li {
    margin: 5px 0;
  }

@media (min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 2px 30px;
    }
    .hero_container{
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .explore_menu_lists{
        margin-top: 40px;
        display: flex;
        gap: 15px;
        padding: 0 30px;
    }
    #pizza_card{
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .explore_menu_container{
        margin-top: 30px;
    }
    .explore_menu_view_more{
        display: flex;
        justify-content: center;
    }
    .explore_menu_container{
        position: relative;
    }
    .explore_menu_gradient_bg{
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
      transform: skewY(-5deg);
      z-index: -3;
    }
    .restaurant_container{
        display: flex;
        align-items: center;
    }
    .restaurant_text{
        width: 100%;
        font-size: 40px;
    }

}
@media (min-width:1020px){
    .container{
        max-width: 1000px;
    }
    .navbar_brand{
        width: 150px;   
    }
    .button_primary{
        padding: 20px;
        font-size: 20px;
    }
    .hero_description{
        width: 100%;
    }
    .hero_txt{
        font-size: 100px;
    }
    .explore_menu_lists{
        display: flex;
        gap: 40px;
        
    }
    .explore_menu_text{
        font-size: 50px;
    }
}